    <link href="~/Theme/Styles/aboutUs.css" rel="stylesheet" />
@{
    ViewBag.Title = "About us";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<div id="page-wrapper">
    <div class="about-section">
        <h1>Về chúng tôi</h1>
        <p>Nhóm sinh viên đến từ Trường Đại học Công nghệ thông tin.</p>
        @*<p>Resize the browser window to see that this page is responsive by the way.</p>*@
    </div>

    <h2 style="text-align:center">Thành viên nhóm</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="https://tse4.mm.bing.net/th?id=OIP.dNEEEtlRNkAio4ZTX5PWPQHaEo&pid=Api&P=0" alt="Jane" style="width:100%" />
                <div class="">
                    <h2>Trần Ngọc Mỹ Tiên</h2>
                    <p class="title">Nhóm trưởng</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>19522343@gm.uit.edu.vn</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://tse4.mm.bing.net/th?id=OIP.nHaUGrw7ZUayVIcxuiMdNQHaEo&pid=Api&P=0" alt="Jane" style="width:100%" />
                <div class="">
                    <h2>Nguyễn Thị Mai Trinh</h2>
                    <p class="title">Thành viên</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>19522405@gm.uit.edu.vn</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://tse2.mm.bing.net/th?id=OIP.eTkpDm-N8Rx_GVghIfZ4YgHaEo&pid=Api&P=0" alt="Jane" style="width:100%" />
                <div class="">
                    <h2>Lưu Phúc</h2>
                    <p class="title">Thành viên</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>19522034@gm.uit.edu.vn</p>
                </div>
            </div>
        </div>
    </div>
</div>
